%script{ :src => "js/dashboard.js", :type => "text/javascript" }
%link{ :href => "css/accordion.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
#container
  #wrap
    #top_round
    #content
      .title Znajomi
      .section
        %ul
          %li
            %a{ :href => "#", :onfocus => "this.blur();" }
              %img{ :src => "images/icons/comments.png", :alt => "" }
              %span
                Statsy
          %li
            %a{ :href => "#", :onfocus => "this.blur();" }
              %img{ :src => "images/icons/door_open.png", :alt => "" }
              %span
                Dodaj znajomego
          %li
            %a{ :href => "#", :onfocus => "this.blur();" }
              %img{ :src => "images/icons/door_open.png", :alt => "" }
              %span
                Dodaj znajomego
      .title Zaqpki
      .section
        %ul
          %li
            %a{ :href => "#", :onfocus => "this.blur();" }
              %img{ :src => "images/icons/date.png", :alt => "" }
              %span
                Dodaj Zaqpek
          %li
            %a{ :href => "#", :onfocus => "this.blur();" }
              %img{ :src => "images/icons/flag_red.png", :alt => "" }
              %span
                Nowe
          %li
            %a{ :href => "#", :onfocus => "this.blur();" }
              %img{ :src => "images/icons/drive.png", :alt => "" }
              %span
                Archiwum
      .title Profil
      .section
        %ul
          %li
            %a{ :href => "#", :onfocus => "this.blur();" }
              %img{ :src => "images/icons/computer.png", :alt => "" }
              %span
                Edytuj
          %li
            %a{ :href => "#", :onfocus => "this.blur();" }
              %img{ :src => "images/icons/cup.png", :alt => "" }
              %span
                Usuń konto
      .title Dodatki
      .section
        / no content
      .title Forum
      .section
        / no content hack
    #bottom_round
